h1 {
	color: #72d93f;
	text-align: center;
}

#classId {
	background-color: #72d93f;
	color: white;
}

#svg-wraper {
	margin-right: auto;
	margin-left: auto;
}

#header {
	border-bottom: 4px solid #72d93f;
	margin-right: 0px;
	margin-left: 0px;
	padding: 1%;
	color: #838383;
	font-weight: bold;
	font-size: xx-large;
}

#menu ul {
	border-bottom: 4px solid #72d93f;
	margin-top: 0px;
	background: #838383;
}

#menu li {
	padding: 0.5%;
	display: inline-block;
	margin-right: 1%;
}

#menu li:hover {
	background-color: #72d93f;
}

#menu a {
	text-decoration: none;
	color: white;
	font-size: large;
	font-weight: bold;
}

.block-information {
	margin-top: 0px;
	margin-bottom: 1%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.block-information>h2 {
	margin-top: 0px;
	border-bottom: 2px solid #72d93f;
	padding: 0.5%;
}

.block-information ul {
	text-align: center;	
}

.block-information li {
	padding: 0.5%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 1%;
	border: 3px solid #838383;
}

.block-information li:hover {
	background-color: #72d93f;
}

.block-information a {
	text-decoration: none;
	color: #000;
}

.zoom {
	background-color: orange;
	position: fixed;
	width: 50px;
	height: 50px;
	border: 2px solid black;
}

#zoom-in {
	top: 0px;
	left: 0px;
}

#zoom-out {
	top: 50px;
	left: 0px;
}

#map {
	margin-right: auto;
	margin-left: auto;
}