body {
	margin: 0px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

h1 {
	text-align: center;
}

/* Semantic Query */
.parse_error {
	background-color: #ff0000;
	color: #fff;
}

.input-query {
	width: 300px;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono" monospace;
	font-size: 130%;
	line-height: 140%;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	background: #F4F4F4;
	padding: 0.2em 0.2em;
	border: 1px solid #838383;
	color: #54545A;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.submit_button {
	width: 150px;
	height: 30px;
	margin-top: 1em;
	font-size: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#loader {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}

.form-input-query{
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 3px solid #838383;
}

/* Results Semantic Query*/
.protein {
	background-color: #FFEBD6;
}

.protein:hover {
	background-color: #FF9933;
}

.ftc {
	background-color: #E3F7D9;
}

.ftc:hover {
	background-color: #72d93f;
}

.drugbank {
	background-color: #DDEAFE;
}

.drugbank:hover {
	background-color: #5395f8;
}

.go {
	background-color: #FFCCCC;
}

.go:hover {
	background-color: #FF0000;
}

#owl-query {
	text-align: center;
	margin-bottom: 2em;
}

#form-owl-query {
	text-align: center;
}

#errors {
	text-align: center;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono",
		monospace;
	color: #ff0000;
	margin-top: 2em;
}

/* Syntactic Search */
.no-results {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	padding: 1%;
}

.no-results > h2 {
	color: #ff0000;
}

/* HTML tags */
code {
	font-weight: normal;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono",
		monospace;
	font-size: 90%;
	line-height: 140%;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	background: #F4F4F4;
	border: 1px solid #838383;
	color: #54545A;
}

/* Help text */
.help-text {
	float: right;
	color: #838383;
	font-weight: bold;
}

.help-text:hover {
	cursor: help;
}

.tip {
	z-index:1000;
	text-align:left;
	border:5px solid #72d93f;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#fff;
	background-color: #838383;
}
.tip .tip-inner {
	font:12px/16px arial,helvetica,sans-serif;
}

/* Home page */
#introduction {
  margin-left: 5%;
  background-color: orange;
}

.box {
	text-align: center;
	width: 30%;
	float: left;
	margin: 1%;
	background-color: #DDEAFE;
	color: #4a4a4a;
	border: 1px solid #5395f8;
}

.separator-hr{
	margin-left: 15px;
	margin-right: 15px;
	display: block;
	height: 1px;
    border-top: 1px solid #5395f8;
    padding: 0; 
}

.title-presentation{
	text-shadow: 2px 2px 2px #d6d6d6;
	color: #5395f8;
}

.feature-presentation {
	padding-left: 15px;
	padding-right: 15px;
}

.logo-presentation {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

/* Class visualisation */
.showMore {
	background-color: #d4d4d4;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.showMore:hover {
	background-color: #c2c2c2;
	cursor: pointer;
}

.textShowMore {
	font-style: italic;
}

#class-title {
	color: #72d93f;
}

#agent-title {
	color: #5395f8;
}

.classTitle {
	background-color: #72d93f;
	color: white;
}

#agentId {
	background-color: #5395f8;
	color: white;
}

#thumb-drug {
	text-align: center;
}

#svg-wraper {
	margin-right: auto;
	margin-left: auto;
}

#header {
	text-shadow: 2px 2px 2px #d6d6d6;
	border-bottom: 4px solid #72d93f;
	margin-right: 0px;
	margin-left: 0px;
	padding: 1%;
	color: #838383;
	font-weight: bold;
	font-size: xx-large;
}

#header a {
	color: #838383;
	text-decoration: none;
}

#menu ul {
	border-bottom: 4px solid #72d93f;
	margin-top: 0px;
	background: #838383;
}

#menu li {
	padding: 0.5%;
	display: inline-block;
	margin-right: 1%;
}

.transition {
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#menu li:hover {
	background-color: #72d93f;
}

#menu a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.block-information {
	margin-top: 0px;
	margin-bottom: 2%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4F4F4;
}

.block-information>h2 {
	margin-top: 0px;
	border-bottom: 2px solid #72d93f;
	padding: 0.5%;
}

.block-information ul {
	text-align: center;
}

.block-information li {
	padding: 0.5%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 1%;
}

.class-info li:hover {
	background-color: #72d93f;
}

.block-information li:hover {
	color: #fff;
}

.block-information a {
	text-decoration: none;
	color: #000;
}

.block-information p {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#drugbank-data a:hover {
	text-decoration: underline;
}

#drugbank-data a {
	padding-right: 5px;
}

.category-db {
	padding-right: 5px;
}

.agents {
	background-color: #DDEAFE;
}

.action {
	background-color: #E3F7D9;
}

.agents>h2 {
	border-bottom: 2px solid #5395f8;
}

.agents li:hover {
	background-color: #5395f8
}

#definition a {
	text-decoration: underline;
}

.inferred {
	border: 2px dashed #838383;
}

.has-drug {
	font-weight: bold;
}

.direct {
	border: 2px solid #838383;
}

.numbers {
	font-weight: lighter;
}

.togglable {
	cursor: pointer;
}

#map {
	margin-right: auto;
	margin-left: auto;
}

#compass {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('/public/images/compass.png');
}

#title-map {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: x-large;
	font-weight: bold;
	text-shadow: 2px 2px 2px #d6d6d6;
}

#title-map a {
	text-decoration: none;
	color: #000;
}

#title-map a:hover {
	text-decoration: underline;
}

#instructions {
	position: absolute;
	top: 100px;
	right: 0px;
	padding: 5px;
	text-align: center;
	text-shadow: 2px 2px 2px #d6d6d6;
}

.node:hover {
	text-decoration: underline;
}