#{script 'expanding.js' /}


<script type="text/javascript">
$(document).ready(function() {
	$('input').autoGrowInput({
	    comfortZone: 15,
	    minWidth: 300,
	    maxWidth: 1000
	});
	
	$('#submit_button').click(function() {
		console.log("clkicked");
		$('#errors').hide();
		$('#submit_button').hide();
		$('#loader').show();
	});
});
</script>

<form id="form-owl-query" action="@{Application.owlQuery()}" method="POST">
   		<input class="expanding" id="input-owl-query" type="text" name="query" value="${flash.query}" />
    	<input id="submit_button" type="submit" value="Query" />
</form>

<div id="loader">
	<img src="@{'/public/images/loader.gif'}">
</div>