#{extends 'main.html' /}
#{set title:'Not found' /}

<h1 class="not-found">404 - Resource not found</h1>
<p class="not-found-message">${result.message}</p>

<!-- Ancient piece of code genetically incorporated to the application -->
<!--   .avs,                          -->
<!--  .uooo2;                         -->
<!--  )o2222a                .auos.   -->
<!--  )o2o222;               voo2os   -->
<!--  )o22222'              =o22222   -->
<!--  -{So22n               =2222o2   -->
<!--   -3o222;              :So2222   -->
<!--     ~{22s.              Sn222e   -->
<!--      -{S2c             <oo22e`   -->
<!--       )o22;           .222}`     -->
<!--        )22s.         .u22e`      -->
<!--        -{S2c        .u22e`       -->
<!--         )o22; _<sii_vo2n`        -->
<!--          )22noSooooS222+         -->
<!--          -Sn2222222o2o2c.        -->
<!--         .voo222o2222222os.       -->
<!--         ]22XXo2222o22S222o       -->
<!--        <oXmQQQp2222q#?Y$po;      -->
<!--       .nXQQQQWQmo2XW'  -Qoo.     -->
<!--       )omWW!^?$QooWE    3Qo(     -->
<!--       voWWf   ]WXoQm.   mQ2s     -->
<!--      .2oWW[   :QSoQWa,_jQW22.    -->
<!--      .22dQL   jBoo#QQQQWQBo2.    -->
<!--      .22SWWa_wmSo2dWQQQQWSo2'    -->
<!--      .22ooUWQBSn22oXUWWUSno2.    -->
<!--       So22ooooo222ooonnoooSo.    -->
<!--       )o22222222S2S2222222oe     -->
<!--       =222222mQWQQQQmpo2222(     -->
<!--        {So2o2UWWQQWWWGo222e      -->
<!--        =o2222ooXX2Xooo222o^      -->
<!--         )o22222oooo222222+       -->
<!--          +22o22222222222+        -->
<!--           -12222o222o22n.        -->
<!--           .u222oSo222222a.       -->
<!--           ]o22o22o2222o22a.      -->
<!--          =2222222222o22222(      -->
<!--          u22o2222o222222o2o.     -->
<!--         =222222o222222o2222(     -->
<!--         )2o222222222o222222(     -->
<!--         v2222o2222o222222o2e     -->
<!--         no222222o22222o22222.    -->
<!--         n222o2222222o2222222.    -->
<!--         v22oSo22o22oSo222o2n     -->
<img class="zurgrul" src="@{'public/images/zktwwdxcm.gif'}">
<script type="text/javascript">
$(document).ready(function() {

	var ouiWQHFDOISgfNBDLFJsNPOWS = $(window).width();
	var QPIWEURDPWAIOEJFDSsdfdfAFGxfc = 1 + Math.floor(Math.random() * (ouiWQHFDOISgfNBDLFJsNPOWS-180));
	$('.zurgrul').css('left', QPIWEURDPWAIOEJFDSsdfdfAFGxfc);
});
</script>
