#{extends 'main.html' /}
#{set title:agent.drugBankId + ' - ' + agent.label /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}

<script type="text/javascript">
$(document).ready(function() {
	$('.togglable').click(function() {
		$(this).parent().find('.togglable').toggle();
  		$(this).parent().parent().find('ul').toggle('fast', function() {});
	});
});
</script>

<h1 id="agent-title">
    <span id="agentId">${agent.drugBankId}</span> - ${agent.label}
</h1>

#{if agent.directFtcClasses.size() > 0}
<nav class="block-information class-info action">
    <h2>
    <span class="togglable">[-] </span>
    <span class="togglable"
            style="display: none">[+] </span> Super class${agent.directFtcClasses.size().pluralize('es')}
    <span class="numbers"> (${agent.directFtcClasses.size()})</span>
            
  <span title="Categories into which the therapeutic agent ${agent.label} has been classified.
  The compound might be used for these indications (computer generated hypothesis)" class="help-text">(?)</span>
    </h2>

    #{if agent.directFtcClasses.size() == 0}
    <p>No superclasses.</p>
    #{/if}
    
    #{else}
    <ul>
        #{list items:agent.directFtcClasses, as:'superClass' }
        
        #{if superClass != null}
        <a href="@{Application.classVisu(superClass.ftcId)}">
            <li class="transition direct">${superClass.ftcId} -
                ${superClass.label}</li>
        </a> 
        #{/if} 
        #{/list}
    </ul>
    #{/else}
</nav>
#{/if}

<div class="block-information" id="drugbank-data" itemscope itemtype="http://schema.org/Drug">
    <h2>Functional properties (via DrugBank)
  	<span title="Supplementary information about the compound. The data is coming straight from DrugBank and not 
  	modified" class="help-text">(?)</span>
    </h2>
    <p>
        <strong>DrugBank entry: </strong> <a
            href="http://www.drugbank.ca/drugs/${agent.drugBankId}">${agent.drugBankId} - <span itemprop="name">${agent.label}</span></a>
    </p>
    <p>
        <strong>Description: </strong><span itemprop="description">${agent.description}</span>
    </p>
    <p>
        <strong>Indication: </strong>
        	<span itemprop="indication" itemscope itemtype="http://schema.org/TreatmentIndication">
        		<span itemprop="name">${agent.indication}</span>
        	</span>
    </p>
    <p>
        <strong>Mechanism: </strong><span itemprop="mechanismOfAction">${agent.mechanism}</span>
    </p>
    <p>
        <strong>Pharmacology: </strong><span itemprop="clincalPharmacology">${agent.pharmacology}</span>
    </p>
    <p>
        <strong>ATC: </strong>
        #{list items:agent.atcCodes, as:'atcCode' }
        <a href="http://www.whocc.no/atc_ddd_index/?code=${atcCode}">${atcCode}</a>
        #{/list}
    </p>
    <p>
        <strong>DrugBank categories: </strong>
        #{list items:agent.categories, as:'category' }
        <span class="category-db" itemprop="drugClass" itemscope itemtype="http://schema.org/DrugClass">
        	<span itemprop="name">${category}</span>
        </span>
        #{/list}
    </p>
</div>