#{extends 'main.html' /}
#{set title:ftcClass.ftcId + ' - ' + ftcClass.label /}

<h1><span id="classId">${ftcClass.ftcId}</span> - ${ftcClass.label}</h1>

<div class="block-information">
    <h2>Definition</h2>
    <p>blablaballba</p>
    
</div>

<nav class="block-information">
    <h2>Direct super classes</h2>
        <ul>
            #{list items:subClasses, as:'subClass' }
            <li><a href="@{Application.classVisu(subClass.ftcId)}"><span id="classId">${subClass.ftcId}</span> - ${subClass.label}</a></li>
            #{/list}
      </ul>   
</nav>


<nav class="block-information">
    <h2>Direct subclasses</h2>
        <ul>
            #{list items:subClasses, as:'subClass' }
            <li><a href="@{Application.classVisu(subClass.ftcId)}">${subClass.ftcId} - ${subClass.label}</a></li>
            #{/list}
      </ul>   
</nav>

<nav class="block-information">
<h2>Taxonomic Tree</h2>
<div id="svg-wraper" style="width: ${ratioSvg}">
    <object data="@{Application.svg(ftcClass)}" type="image/svg+xml"></object>
</div>
</nav>