#{extends 'main.html' /}
#{set title:ftcClass.ftcId + ' - ' + ftcClass.label /}

#{script 'toggle.js' /}
#{script 'showMore.js' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}

<h1 id="class-title"><span id="classId" class="classTitle">${ftcClass.ftcId}</span> - ${ftcClass.label}</h1>

<div class="block-information" id="definition">
    <h2>Definition
    <span title="The human-readable<br>definition of the category" class="help-text">(?)</span>
    </h2>
    <p>${ftcClass.comment.raw()}</p>
</div>

#{if directAgents.size() > 0}
<nav class="agents block-information moreDirectAgentsWrap">
    <h2>
    <span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    Direct Agents<span class="numbers"> (<span id="currentNumbermoreDirectAgents">${directAgents.size()}</span> 
    of <span id="totalNumbermoreDirectAgents">${ftcClass.directAgents.size()})</span>
    <span title="<strong>The therapeutic agents that might act as ${ftcClass.label} (computer generated hypothesis).</strong>
    These compounds are direct children of the category ${ftcClass.label}, 
    they are therefore marked as <i>direct</i>." class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:directAgents, as:'directAgent' }
        <a href="@{Application.agent(directAgent.drugBankId)}">
        	<li class="transition direct">${directAgent.drugBankId} - ${directAgent.label}</li>
        </a>
        #{/list}
      </ul>
      #{if directAgents.size() < ftcClass.directAgents.size()}
      <div class="showMore" id="moreDirectAgents">
      <img style="display: none;" src="@{'/public/images/ajax-loader.gif'}">
      <span class="textShowMore">Show more</span></div>
		
      #{/if}
      </div>
</nav>
#{/if}

#{if indirectAgents.size() > 0}
<nav class="agents block-information moreIndirectAgentsWrap">
    <h2>
    <span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    Indirect Agents<span class="numbers"> (<span id="currentNumbermoreIndirectAgents">${indirectAgents.size()}</span> 
    of <span id="totalNumbermoreIndirectAgents">${ftcClass.indirectAgents.size()})</span>
    <span title="<strong>The therapeutic agents that might act as ${ftcClass.label} (computer generated hypothesis).</strong>
    These compounds are not direct children of the category ${ftcClass.label}, 
    they are therefore marked as <i>indirect</i> (dashed border)." class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:indirectAgents, as:'indirectAgent' }
        <a href="@{Application.agent(indirectAgent.drugBankId)}">
        	<li class="transition inferred">${indirectAgent.drugBankId} - ${indirectAgent.label}</li>
        </a>
        #{/list}
      </ul>
      #{if indirectAgents.size() < ftcClass.indirectAgents.size()}
      <div class="showMore" id="moreIndirectAgents">
      <img style="display: none;" src="@{'/public/images/ajax-loader.gif'}">
      <span class="textShowMore">Show more</span></div>
      #{/if}
      </div>
</nav>
#{/if}

#{if superClasses.size() > 0}
<nav class="class-info block-information moreSuperclassesWrap">
    <h2>
    <span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    &uarr; Super class${superClasses.size().pluralize('es')}
    <span class="numbers"> (<span id="currentNumbermoreSuperclasses">${superClasses.size()}</span> 
    of <span id="totalNumbermoreSuperclasses">${ftcClass.superClasses.size()})</span>
    <span title="<strong>The direct parents (super classes) to the current category.</strong> The super classes
    define increasingly more generic concepts. Text in bold indicates that the super class contains some
    therapeutic agents." class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:superClasses, as:'superClass' }
        <a href="@{Application.classVisu(superClass.ftcId)}">
        	<li class="transition direct #{if superClass.hasDrug}has-drug#{/if}">
        	${superClass.ftcId} - ${superClass.label}</li>
        </a>
        #{/list}
      </ul>
      #{if superClasses.size() < ftcClass.superClasses.size()}
      <div class="showMore" id="moreSuperclasses">
      <img style="display: none;" src="@{'/public/images/ajax-loader.gif'}">
      <span class="textShowMore">Show more</span></div>
      #{/if}
      </div>
</nav>
#{/if}

#{if subClasses.size() > 0}
<nav class="class-info block-information moreSubclassesWrap">
    <h2>
    <span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    &darr; Subclass${subClasses.size().pluralize('es')}<span class="numbers"> (<span id="currentNumbermoreSubclasses">${subClasses.size()}</span> 
    of <span id="totalNumbermoreSubclasses">${ftcClass.subClasses.size()})</span>
    <span title="<strong>The direct children (subclasses) to the current category.</strong> The subclasses
    define increasingly more specific concepts. Text in bold indicates that the subclass contains some
    therapeutic agents." class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:subClasses, as:'subClass' }
        
        <a href="@{Application.classVisu(subClass.ftcId)}">
        	<li class="transition direct #{if subClass.hasDrug}has-drug#{/if}">
        	${subClass.ftcId} - ${subClass.label}</li>
        </a>
        #{/list}
      </ul>
      #{if subClasses.size() < ftcClass.subClasses.size()}
      <div class="showMore" id="moreSubclasses">
      <img style="display: none;" src="@{'/public/images/ajax-loader.gif'}">
      <span class="textShowMore">Show more</span></div>
      #{/if}
      </div>
</nav>
#{/if}

#{if !ftcClass.ftcId.equals("FTC_C1")}
<nav class="block-information">
<h2>Taxonomic Tree (<a style="text-decoration: underline;" href="@{Application.map(ftcClass.ftcId)}">explore map</a>)
  <span title="Tree representation of the super classes of the current category. You can zoom and pan the tree by clicking the
  <i>explore map</i> link" class="help-text">(?)</span>
</h2>
<div id="svg-wraper" style="width: ${ratioSvg}">
	${ftcClass.svgGraph.raw()}
</div>
</nav>
#{/if}