#{extends 'main.html' /}
#{set title:'Data' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}


<h1 class="feature-title">Get the data
<span style="float: none;" title="Dowload or access the data related to the FTC. I will implement different ways
to retrieve the information only based on requests from users, so feel free 
to <a href='http://samuelcroset.com/contact'>send yours</a>" class="help-text">(?)</span>
</h1>

<div class="get-options">
<h3>Full ontology in OWL format: <a href="@{'/public/data/ftc-kb-full.owl'}">ftc-kb-full.owl</a></h3>
<h3>Full ontology in OBO-like format: <a href="@{'/public/data/ftc-kb-full.obo'}">ftc-kb-full.obo</a></h3>
<h3>Web services, XML, JSON, RDF, etc: <a href="http://samuelcroset.com/contact">Contact me</a></h3>
</div>