#{extends 'main.html' /}
#{set title:'Data' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}


<div id="class-title" class="page-header">
	<h1><span class="glyphicon glyphicon-save"></span> Data
	<span style="float: none;" title="Dowload or access the data related to the FTC. I will implement different ways
to retrieve the information only based on requests from users, so feel free 
to <a href='http://samuelcroset.com/contact'>send yours</a>" class="help-text">(?)</span>
	</h1>
</div>


<div>
<p>Full ontology: 
<a class="btn btn-default" href="@{'/public/data/ftc-kb-full.owl.zip'}">
<span class="glyphicon glyphicon-file"></span> ftc-kb-full.owl.zip</a></p>
<p>Web services, XML, flat file, JSON, RDF, etc: <a href="http://samuelcroset.com/contact">Contact me</a></p>
</div>