#{extends 'main.html' /}
#{set title:'Evaluation' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}


<h1 class="feature-title">Evaluations against the Anatomical Therapeutic Chemical Classification System (ATC)
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h1>

<div class="metrics">
<h3>Date: <span class="value-metrics">${metrics.date.format('yyyy MMMM dd @ hh:mm:ss')}</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Total number of therapeutic agents: <span class="value-metrics">${Math.round(metrics.numberOfDrugBankCompounds)}</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Total number of FTC categories: <span class="value-metrics">${Math.round(metrics.numberOfFtcClasses)}</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Total number of axioms in the FTC: <span class="value-metrics">${Math.round(metrics.numberOfAxioms)}</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Total number of false positives: <span class="value-metrics">${Math.round(fp)}</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Total number of true positives: <span class="value-metrics">${Math.round(tp)}</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Total number of false negatives: <span class="value-metrics">${Math.round(fn)}</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Recall: <span class="value-metrics">${Math.round(recall*100)}%</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>

<h3>Precision: <span class="value-metrics">${Math.round(precision*100)}%</span>
<span style="float: none;" title="text explanation" class="help-text">(?)</span>
</h3>
</div>

<nav class="class-info block-information">
    <h2>
    Evaluation points<span class="numbers"> (<span>${mappings.size()})</span> 
    <span title="text explanation" class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:mappings, as:'mapping' }
        <a href="@{Application.evaluation(mapping.ftcClass)}">
        	<li class="transition direct">${mapping.definition}</li>
        </a>
        #{/list}
      </ul>
      </div>
</nav>