#{extends 'main.html' /}
#{set title:'Evaluation' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}


<h1 class="feature-title">Evaluations against the Anatomical Therapeutic Chemical Classification System (ATC)
<span style="float: none;" title="<strong>Comparison and evaluation against 
the <a href='http://www.whocc.no/atc/structure_and_principles/'>ATC</a>.
Look at the documentation to understand the methodology behind the evaluation.</strong>" class="help-text">(?)</span>
</h1>

<div class="metrics">
<h3>Date: <span class="value-metrics">${metrics.date.format('yyyy MMMM dd @ hh:mm:ss')}</span>
<span style="float: none;" title="Creation date of the current release" class="help-text">(?)</span>
</h3>

<h3>Total number of therapeutic agents: <span class="value-metrics">${Math.round(metrics.numberOfDrugBankCompounds)}</span>
<span style="float: none;" title="Number of DrugBank compunds used. These compounds are approved chemicals or synthetic
peptides/proteins acting on human-targets." class="help-text">(?)</span>
</h3>

<h3>Total number of FTC categories: <span class="value-metrics">${Math.round(metrics.numberOfFtcClasses)}</span>
<span style="float: none;" title="Number of categories defined in the FTC" class="help-text">(?)</span>
</h3>

<h3>Total number of axioms in the FTC: <span class="value-metrics">${Math.round(metrics.numberOfAxioms)}</span>
<span style="float: none;" title="Number of OWL axioms present inside the FTC" class="help-text">(?)</span>
</h3>

<h3>Total number of true positives: <span class="value-metrics">${Math.round(tp)}</span>
<span style="float: none;" title="Number of compounds present in the FTC as well as in the equivalent ATC classes.
Represents the compounds that have been correctly classified." class="help-text">(?)</span>
</h3>

<h3>Total number of false positives: <span class="value-metrics">${Math.round(fp)}</span>
<span style="float: none;" title="Number of compounds that are present in a FTC class but not in the equivalent ATC classes.
Some of these compounds can be considered as repurposing hypotheses: They 
are not known in the ATC for the indication." class="help-text">(?)</span>
</h3>

<h3>Total number of false negatives: <span class="value-metrics">${Math.round(fn)}</span>
<span style="float: none;" title="Number of compounds that are not present in a FTC class but present in the equivalent
ATC classes. Represents the compounds missed by the FTC, but present in the ATC." class="help-text">(?)</span>
</h3>

<h3>Recall: <span class="value-metrics">${Math.round(recall*100)}%</span>
<span style="float: none;" 
title="<a href='http://en.wikipedia.org/wiki/Recall_(information_retrieval)#Definition_.28classification_context.29'>Recall</a> = tp / (tp + fp).
Recall is the probability that a (randomly selected) drug from the ATC has been assigned to the 
correct corresponding class in the FTC." class="help-text">(?)</span>
</h3>

<h3>Precision: <span class="value-metrics">${Math.round(precision*100)}%</span>
<span style="float: none;" 
title="<a href='http://en.wikipedia.org/wiki/Recall_(information_retrieval)#Definition_.28classification_context.29'>Precision</a> = tp / (tp + fn).
Precision is the probability that a (randomly selected) drug from the FTC is present in the equivalent ATC classes." class="help-text">(?)</span>
</h3>
</div>

<nav class="class-info block-information">
    <h2>
    Evaluation Points<span class="numbers"> (<span>${mappings.size()})</span> 
    <span title="<strong>List of equivalences between ATC and FTC classes.</strong> This mapping has been manually done.
    Note that some FTC classes have a series of ATC equivalent classes." class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:mappings, as:'mapping' }
        <a href="@{Application.evaluation(mapping.ftcClass)}">
        	<li class="transition direct">${mapping.definition}</li>
        </a>
        #{/list}
      </ul>
      </div>
</nav>