#{extends 'main.html' /}
#{set title:'FTC - Functional Therapeutic Chemical Classification System' /}


<div class="container">
  <div class="page-header">
    <h1><img src="@{'/public/images/logo.png'}" style="vertical-align: middle"> Functional Therapeutic Chemical Classification System <small>(FTC)</small></h1>
  </div>
</div>


<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2 class="text-center"><span class="glyphicon glyphicon-cog"></span> Mode of Action</h2>
          <p style="text-align: justify;"> <strong>The Functional Therapeutic Chemical Classification System (FTC) defines over 
20'000 mechanisms and modes of action for approuved drugs.</strong>
The resource abstracts 
away from the traditional chemical structure-based approach and focuses solely on the mode
of action of drugs. The classification sorts therapeutic
agents based on their function in the human body.</p>
        </div>
        <div class="col-lg-4">
          <h2 class="text-center"><span class="glyphicon glyphicon-refresh"></span> Drug Repurposing</h2>
          <p style="text-align: justify;"><strong>The classification helps to understand the polypharmacology of drugs.</strong>
Modes of actions categories are the starting points to find new diseases indications.
The Functional Therapeutic Chemical Classification 
System (FTC) helps to generate drug repurposing hypotheses to be tested in the laboratory.</p>
       </div>
        <div class="col-lg-4">
          <h2 class="text-center"><span class="glyphicon glyphicon-folder-open"></span> Open Source</h2>
          <p style="text-align: justify;"><strong>From the web application code to drug
repositionning hypotheses, everything is open and free.</strong> The 
Functional Therapeutic Chemical Classification System (FTC) integrates and leverages the public content of
the Gene Ontology, 
DrugBank, Uniprot and
GO annotations into a unique resource. <a href="https://github.com/loopasam/ftc">View the project on GitHub</a>.</p>
        </div>
      </div>
    </div>