#{extends 'main.html' /}
#{set title:'FTC - Functional Therapeutic Chemical Classification System' /}


  <div style="border-bottom: 4px solid #eee;" class="page-header text-center">
    <h1 class="text-primary">
    <img src="@{'/public/images/logo.png'}" style="vertical-align: middle"> Functional Therapeutic Chemical Classification System 
    <small>(FTC)</small>
    </h1>
  </div>
  
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4 text-center">
          <h2>
          <span class="glyphicon glyphicon-cog"></span> Mode of Action
          </h2><hr>
          <p style="text-align: justify;"> <strong>The Functional Therapeutic Chemical Classification System (FTC) defines over 
20'000 mechanisms and modes of action for approved drugs.</strong>
The resource abstracts 
away from the traditional chemical structure-based approach and focuses solely on the mode
of action of drugs. The classification sorts therapeutic
agents based on their function in the human body.</p>
<p><a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-chevron-right"></span> Explore categories</a></p>
        </div>
        <div class="col-lg-4 text-center">
          <h2><span class="glyphicon glyphicon-refresh"></span> Drug Repositioning</h2><hr>
          <p style="text-align: justify;"><strong>The classification helps to understand the polypharmacology of drugs.</strong>
Modes of actions categories are the starting points to find new diseases indications.
The Functional Therapeutic Chemical Classification 
System (FTC) helps to generate drug repurposing hypotheses to be tested in the laboratory.</p>
<p><a class="btn btn-primary" href="#">
<span class="glyphicon glyphicon-chevron-right"></span> Repositioning hypotheses</a></p>
       </div>
        <div class="col-lg-4 text-center">
          <h2><span class="glyphicon glyphicon-folder-open"></span> Open Source</h2><hr>
          <p style="text-align: justify;"><strong>From the web application code to drug
repositionning hypotheses, everything is open and free.</strong> The 
Functional Therapeutic Chemical Classification System (FTC) integrates and leverages the public content of
the Gene Ontology, 
DrugBank, Uniprot and
GO annotations into a unique resource. <a href="https://github.com/loopasam/ftc">View the project on GitHub</a>.</p>
<p><a class="btn btn-primary" href="#">
<span class="glyphicon glyphicon-chevron-right"></span> Project on GitHub</a></p>
        </div>
      </div>
