#{extends 'main.html' /}
#{set title:'Semantic Query' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}
#{script 'expanding.js' /}


<script type="text/javascript">
$(document).ready(function() {
	$(".input-query").focus();
	$('.submit_button').click(function() {
		$('#errors').hide();
		$('.submit_button').hide();
		$('#loader').show();
	});
	
	$('input#input-owl-query').autoGrowInput({
    	comfortZone: 20,
    	minWidth: 300,
    	maxWidth: 1200
	});
	
});
</script>

<form action="@{Application.owlQuery()}" method="POST">
	<h1 class="feature-title">Query the knowledge base
 	<span style="float: none;" title="<strong>Semantic query over the knowledge base.</strong>
 	This feature requires an understanding on how to formulate queries. The best place to
 	get started with semantic queries is the documentation." class="help-text">(?)</span>
	</h1>
   		<input class="input-query" id="input-owl-query" type="text" name="query" value="${flash.query}"/ size="100"> 
    	<input class="submit_button" type="submit" value="Query" />
    	
</form>
<div id="loader" style="display: none;">
	<img src="@{'/public/images/loader.gif'}">
</div>


#{if flash.error}
	<div id="errors">
		${flash.error.raw()}
	</div>
#{/if}