#{extends 'main.html' /}
#{set title:'Semantic Query' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}
#{script 'expanding.js' /}


<script type="text/javascript">
$(document).ready(function() {
	$(".input-query").focus();
	$('.submit_button').click(function() {
		$('#errors').hide();
		$('.submit_button').hide();
		$('#loader').show();
	});
	
	$('input#input-owl-query').autoGrowInput({
    	comfortZone: 20,
    	minWidth: 300,
    	maxWidth: 1200
	});
	
});
</script>

<div class="page-header">
	<h1><span class="glyphicon glyphicon-eye-open"></span> Semantic query
 	<span style="float: none;" title="<strong>Semantic query over the knowledge base.</strong>
 	This feature requires an understanding on how to formulate queries. The best place to
 	get started with semantic queries is the <a href='https://github.com/loopasam/ftc/wiki/Semantic%20Queries'>documentation</a>." class="help-text">(?)</span>
	</h1>
</div>



<form role="form" action="@{Application.owlQuery()}" method="POST">

  <div class="form-group">
    <label for="query">OWL expression</label>
  <input type="text" class="form-control" placeholder="OWL expression" name="query" value="${flash.query}" />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<p id="query-examples" class="feature-presentation">
<strong>Examples of queries:</strong> <code>'drug' that 'positively-perturbs' some 'Pyridoxal kinase'</code> or
 <code>'biological process' and 'part-of' some 'blood coagulation'</code>. For more information, please refer
to the <a href="#">documentation</a>.
</p>


<div id="loader" style="display: none;">
	<img src="@{'/public/images/loader.gif'}">
</div>


#{if flash.error}
	<div id="errors">
		${flash.error.raw()}
	</div>
#{/if}