*{Get the header}*
#{extends 'main.html' /}
#{set title:'OWL Query' /}

*{Get the JS to toggle + or - boxes}*
#{script 'toggle.js' /}
#{script 'showMore.js' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}


<h3 id="owl-query">Query: <code id="classId">${query}</code></h3>

#{if owlClassResults.size() < 1}
    <div class="no-results">
    <h2>There is no subclasses to this expression</h2>
    <p>Try queries such as <code>'perturbs' some ('involved-in' some 'blood coagulation')</code>. You can also have a look at the
    documentation to get started.</p>
    </div>    
#{/if}
#{else}
<nav class="block-information moreResultsWrap">
    <h2><span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    Subclass${owlClassResults.size().pluralize('es')}<span class="numbers"> (<span id="currentNumbermoreResults">${owlClassResults.size()}</span> 
    of <span id="totalNumbermoreResults">${totalNumber})</span>
	<span title="<strong>Subclasses to the queried expression.</strong>
 	List of the classes that are included in the definition formulated as query." class="help-text">(?)</span>    </h2>
    <div id="members">
        <ul>
		#{list items:owlClassResults, as:'subClass' }
			#{if subClass.type.equals("ftc")}
				#{ftcClass key:subClass.owlId, value:subClass.label /}
			#{/if}
			
			#{if subClass.type.equals("protein")}
				#{protein key:subClass.owlId, value:subClass.label /}
			#{/if}
			
			#{if subClass.type.equals("drugbank")}
				#{drugbank key:subClass.owlId, value:subClass.label /}
			#{/if}
			
			#{if subClass.type.equals("go")}
				#{go key:subClass.owlId, value:subClass.label /}
			#{/if}						
		#{/list}
      </ul>
      
      #{if owlClassResults.size < totalNumber}
      <div class="showMore" id="moreResults">
      <img style="display: none;" src="@{'/public/images/ajax-loader.gif'}">
      <span class="textShowMore">Show more</span></div>
		
      #{/if}
      </div>

</nav>
#{/else}