#{extends 'main.html' /}
#{set title:'Search results' /}


<script type="text/javascript">
$(document).ready(function() {
	$('#submit_button').click(function() {
		console.log("clkicked");
		$('#errors').hide();
		$('#loader').show();
	});
});
</script>

//Use the generic tag here instead of that
<form action="@{Application.owlQuery()}" method="POST">
   		<span>Thing that is </span>
   		<input id="input-owl-query" type="text" name="query" value="${flash.query}"/ size="70"> 
    	<input id="submit_button" type="submit" value="Search" />
</form>

<div id="loader" style="display: none;">
	<img src="@{'/public/images/loader.gif'}">
</div>

#{if flash.error}
	<div id="errors" style="color: red;">
		${flash.error.raw()}
	</div>
#{/if}

//TODO here
#{list items:result.subClasses, as:'subClass' }
	<li>${subClass}</li>
#{/list}


<ul>
<li>'drug' that ('perturbs' some ('protein' that ('involved-in' some 'blood coagulation')))</li>
</ul>