#{extends 'main.html' /}
#{set title:'Search results' /}


<script type="text/javascript">
$(document).ready(function() {
	$('#submit_button').click(function() {
		console.log("clkicked");
		$('#errors').hide();
		$('#loader').show();
	});
});
</script>

#{script 'toggle.js' /}

//Use the generic tag here instead of that
<form action="@{Application.owlQuery()}" method="POST">
   		<span>Thing that is </span>
   		<input id="input-owl-query" type="text" name="query" value="${flash.query}"/ size="70"> 
    	<input id="submit_button" type="submit" value="Search" />
</form>

<div id="loader" style="display: none;">
	<img src="@{'/public/images/loader.gif'}">
</div>

#{if flash.error}
	<div id="errors" style="color: red;">
		${flash.error.raw()}
	</div>
#{/if}

//TODO here
#{if result != null}
<h3 id="owl-query">Query: <code>${result.query}</code></h3>
<nav class="block-information">
    <h2><span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    Equivalent class${result.equivalentClasses.size().pluralize('es')}<span class="numbers"> (${result.equivalentClasses.size()})</span></h2>
    
    #{if result.equivalentClasses.size() == 0}
    	<p>No equivalent classes.</p>
    #{/if}
    #{else}
        <ul>
		#{list items:result.equivalentClasses, as:'key' }
			#{if result.typeMap.get(key).equals("ftc")}
				#{ftcClass key:key, value:result.labelMap.get(key) /}
			#{/if}
			
			#{if result.typeMap.get(key).equals("protein")}
				#{protein key:key, value:result.labelMap.get(key) /}
			#{/if}
			
			#{if result.typeMap.get(key).equals("drugbank")}
				#{drugbank key:key, value:result.labelMap.get(key) /}
			#{/if}
			
			#{if result.typeMap.get(key).equals("go")}
				#{go key:key, value:result.labelMap.get(key) /}
			#{/if}
		#{/list}
      </ul>
     #{/else}
</nav>

<nav class="block-information">
    <h2><span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    Subclass${result.subClasses.size().pluralize('es')}<span class="numbers"> (${result.subClasses.size()})</span></h2>
    
    #{if result.subClasses.size() == 0}
    	<p>No subclasses.</p>
    #{/if}
    #{else}
        <ul>
		#{list items:result.subClasses, as:'key' }
			#{if result.typeMap.get(key).equals("ftc")}
				#{ftcClass key:key, value:result.labelMap.get(key) /}
			#{/if}
			
			#{if result.typeMap.get(key).equals("protein")}
				#{protein key:key, value:result.labelMap.get(key) /}
			#{/if}
			
			#{if result.typeMap.get(key).equals("drugbank")}
				#{drugbank key:key, value:result.labelMap.get(key) /}
			#{/if}
			
			#{if result.typeMap.get(key).equals("go")}
				#{go key:key, value:result.labelMap.get(key) /}
			#{/if}
		#{/list}
      </ul>
     #{/else}
</nav>

#{/if}