#{extends 'main.html' /}
#{set title:'Search results' /}

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}


<form action="@{Application.postSearch()}" method="POST">
    <input type="text" name="query" value="${query}"/> 
    <input type="submit" value="Search" />
</form>

<ul>
	#{list items:agents, as:'agent' }
	   <a href="@{Application.agent(agent.drugBankId)}">
	       <li class="transition direct">${agent.drugBankId} - ${agent.label}</li>
        </a>
	#{/list}
</ul>
