#{extends 'main.html' /}
#{set title:'Search results' /}

#{script 'toggle.js' /}
#{script 'jquery.poshytip.min.js' /}
#{script 'help.js' /}



<script type="text/javascript">
$(document).ready(function() {
	$(".input-query").focus();
});
</script>

<form class="form-input-query" action="@{Application.postSearch()}" method="POST">
	<h1 class="feature-title">Search classes
 	<span style="float: none;" title="<strong>Classical search type for agents and categories 
 	based on the label and ID of the classes</strong>. Useful as starting point in order to find some classes of
 	interest from a keyword. Example of input: <i>coagulation</i> or <i>apoptosis</i>. Only the first 20
 	results are displayed in order to improve performances." class="help-text">(?)</span>
	</h1>
    <input class="input-query" type="text" name="query" value="${query}"/> 
    <input class="submit_button" type="submit" value="Search" />
</form>

#{if noResults && query != null}
    <div class="no-results">
    <h2>No results!</h2>
    <p>Try queries such as <code>'Anti-blood coagulation agent'</code> or <code>DB000</code></p>
    </div>    
#{/if}

#{if agents.size() > 0}
<nav class="agents block-information">
    <h2>
    <span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    Agents<span class="numbers"> (${agents.size()} displayed)</span>
    <span title="Therapeutic agents with a label or ID matching the query" class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:agents, as:'agent' }
        <a href="@{Application.agent(agent.drugBankId)}">
        	<li class="transition direct">${agent.drugBankId} - ${agent.label}</li>
        </a>
        #{/list}
      </ul>
      </div>
</nav>
#{/if}

#{if ftcClasses.size() > 0}
<nav class="class-info block-information">
    <h2>
    <span class="togglable">[-] </span>
    <span class="togglable" style="display: none">[+] </span>
    Classes<span class="numbers"> (${ftcClasses.size()} displayed)</span>
    <span title="Categories with a label or ID matching the query" class="help-text">(?)</span>
    </h2>
    <div id="members">
      <ul>
        #{list items:ftcClasses, as:'ftcClass' }
        <a href="@{Application.classVisu(ftcClass.ftcId)}">
        	<li class="transition direct #{if ftcClass.hasDrug}has-drug#{/if}">${ftcClass.ftcId} - ${ftcClass.label}</li>
        </a>
        #{/list}
      </ul>
      </div>
</nav>
#{/if}