#{extends 'main.html' /}
#{set title:'Home' /}

<script type="text/javascript">
$(document).ready(function() {
	$(".toggle").live("click", function(event) {
		var id = $(this).parent().attr("id");
		var that = $(this).parent();
	    $.ajax({
	        url: "/subClasses/" + id,
	        type: "GET",
	        // callback handler that will be called on success
	        success: function(subClasses, textStatus, jqXHR){
	            // log a message to the console
	            console.log(subClasses);
	            $.each(subClasses, function(index, subClassId){
	            	
	            	console.log("i: - e: " + subClassId);
	            	var subClass = '<div class="cat" id="' + subClassId + '"><span class="toggle">[+] ' + subClassId + '</span></div>';
	             	that.append(subClass);
	            });
   
	        },
	        error: function(jqXHR, textStatus, errorThrown){
	            // log the error to the console
	            console.log("The following error occured: " + textStatus, errorThrown);
	        }
	    });
	    
	    

	});
});
</script>

<div class="cat" id="FTC_C1"><span class="toggle">[+] FTC_C1</span></div>
