<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="UTF-8">
<link rel="stylesheet" media="screen"
    href="@{'/public/stylesheets/main.css'}">
    
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
    href="@{'/public/images/logo.png'}">
    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    type="text/javascript" charset="UTF-8"></script>
    
#{get 'moreScripts' /}
</head>
<body>

    <div id="header">
        <img src="@{'/public/images/logo.png'}" style="vertical-align: middle">
        <span><a href="@{Application.index()}">Functional Therapeutic Chemical
            Classification System (FTC)</a></span>
    </div>

    <nav id="menu">
        <ul>
            <a href="@{Application.index()}"><li class="transition">Home</li></a>
            <a href="https://github.com/loopasam/ftc/wiki"><li class="transition">Documentation</li></a>
            <a href="@{Application.classVisu("FTC_C1")}"><li class="transition">Browse</li></a>
            <a href="@{Application.initQuery()}"><li class="transition">Query</li></a>
            <a href="@{Application.search()}"><li class="transition">Search</li></a>
            <a href="@{Application.data()}"><li class="transition">Data</li></a>
            <a href="http://loopasam.github.com/ftc/"><li class="transition">Blog</li></a>
        </ul>
    </nav>

    #{doLayout /}
    
</body>
</html>
