<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="UTF-8">
<link rel="stylesheet" media="screen"
    href="@{'/public/stylesheets/main.css'}">
    
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
    href="@{'/public/images/logo.png'}">
    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    type="text/javascript" charset="UTF-8"></script>
    
<script src="@{'/public/javascripts/analytics.js'}"
    type="text/javascript" charset="UTF-8"></script>

#{get 'moreScripts' /}
</head>
<body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17382954-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <div id="header">
        <img src="@{'/public/images/logo.png'}" style="vertical-align: middle">
        <span><a href="@{Application.index()}">Functional Therapeutic Chemical
            Classification System (FTC)</a></span>
    </div>

    <nav id="menu">
        <ul>
            <li class="transition"><a href="@{Application.index()}">Home</a></li>
            <li class="transition"><a href="https://github.com/loopasam/ftc/wiki">Documentation</a></li>
            <li class="transition"><a href="@{Application.classVisu("FTC_C1")}">Browse</a></li>
            <li class="transition"><a href="@{Application.initQuery()}">Query</a></li>
            <li class="transition"><a href="@{Application.search()}">Search</a></li>
            <li class="transition"><a href="@{Application.data()}">Data</a></li>
        </ul>
    </nav>

    #{doLayout /}
    
</body>
</html>
